@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Prueba de aplicación con proveedor de peticion de servicios, con autenticacion por tokens, app y apirest son comunicados por el proveedor de servicos</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
